<div class="col col-md-6 col-xl-3 my-3">
    <div class="card m-auto w-max-content">
        <div class="card-body">
            <div class="d-flex justify-content-center position-relative">
                <img src="{{this.image_url_tiny}}">
                <p class="{{textPositionClass this.image_position}} position-absolute text-center w-100 text-white" id="displayCaption">{{this.image_caption}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between">

         
                <a href="#"><i class="bi bi-hand-thumbs-up" style="font-size: 2rem; color: cornflowerblue;"></i></a>
                    <div id="likeCount"></div>
                    
               <i class="bi bi-chat commentIconeBtn" id="comment-btn" style="font-size: 2rem; color: cornflowerblue;"></i>

               <form id = "user-comment" class="hide-comment-post comment-div comment-form">
                     <textarea id="comment-body" name="comment-body"></textarea>
                   
                    <button type="submit" class="btn commentSubmit">Post</button>
                    </form>
          {{!-- Comment Form--}}

                
                 </div>
                 {{!-- Comment Form--}}
             
        </div>
    </div>
</div>