<form class="resetPassword my-5 mx-auto p-5">
  <div>
    <label for="username-signup">UserName:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="New-password">New Password:</label>
    <input type="password" id="New-password" />
  </div>
  <div>
    <button type="submit">Reset Password</button>
  </div>
 <div class="mx-auto d-flex justify-content-evenly mt-4 errMessage" ></div>

  <a href="./login">Already a MEME-er - Login?</a> </div>
  </form>

 <script src="/js/passwordReset.js"></script>

