<form class="resetPassword">
  <div>
    <label for="username-signup">UserName:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="New-password">New Password:</label>
    <input type="password" id="New-password" />
  </div>
  <div>
    <button type="submit">Reset Password</button>
  </div>
  <div id="PasswordResetMSG"></div>
</form>

<a href="./login">Login?</a>
 <script src="/js/passwordReset.js"></script>

