<section class="container">
<p class="h3">Hi Nick! Let's get to work and laugh, at the same time!</p>

    <div class="row my-3">
        {{> search-meme-image}}
        {{> search-meme-image}}
        {{> search-meme-image}}
        {{> search-meme-image}}
    </div>

    <div class="row my-3">
        {{> search-meme-image}}
        {{> search-meme-image}}
        {{> search-meme-image}}
        {{> search-meme-image}}
    </div>

    <div class="row my-3">
        {{> search-meme-image}}
        {{> search-meme-image}}
        {{> search-meme-image}}
        {{> search-meme-image}}
    </div>

</section>
<script src="./js/image-search.js"></script>