<section class="container">
<div class = "mx-auto">
<h3 class="text-white mt-2">Hi {{userName}}! Let's get to work and laugh, at the same time!</h3>
<form id="searchForm" class="row p-2">
    <div class="col-auto my-auto">
        <input type="text" class="form-control" id="search" placeholder="Search text e.g. Cats">
    </div>
    <div class="col-auto my-auto">
        <button type="submit" class = "p-1">Search</button>
    </div>
</form>
</div>
<div class="row my-3">
    {{#each images}}
        <div class="col p-2 py-3">
            <a href="/create-meme/{{this.id}}" class="image-search">
                <img src="{{this.src.tiny}}" alt="meme image" />
            </a>

        </div>
    {{/each}}
    
</div>

</section>
<script src="./js/image-search.js"></script>