.w-max-content {
    width: max-content;
}

#userComment
{
    display: flex;
    margin-left: 0;
    width: 70%;

}
.hide-comment-post
{
    display: none !important;
}
.show-comment-post
{
    visibility: visible !important;
}

h2 {
    width: 100% !important;
}

* {
    font-family: 'ZCOOL KuaiLe', cursive !important;
}

.card-body {
    background-color: #e0d5b9!important;
    border:2px;
}

.card-body:hover{
    opacity:0.5;
}
